@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0e1b24 #000;
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-thumb {
  background: #0e1b24;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #254c68;
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #000;
}
